{% extends 'base.html' %}

{% block body %}

<div class="task-board create-new-task-block " >
    <strong>Task Details</strong>
    <div class="form-row">
        <label class="form-row-label" for="{{ form.title.id_for_label }}">Task</label>
        <input class="form-row-input" disabled value="{{task.title}}">
    </div>
    <div class="form-row">
        <label class="form-row-label" for="{{ form.description.id_for_label }}">Description</label>
        <textarea cols="70" rows="10" class="form-row-input" disabled>{{task.description}}</textarea>
    </div>

    <div class="form-row">
        <label class="form-row-label" for="{{ form.status.id_for_label }}">Status</label>
        <input class="form-row-input" disabled value="{{task.get_status_display}}">

    </div>

    <div class="form-row">
        <label class="form-row-label" for="{{ form.due_date.id_for_label }}">Due Date</label>
        <input class="form-row-input" disabled value="{{task.due_date}}">
    </div>
    
    <div class="form-row-buttons">
        <button type="button" id="cancel-button" onclick="editTask(`{% url 'task_edit' task.id %}`)">Edit</button>
        <button type="button" id="cancel-button" onclick="deleteToTaskList(`{% url 'task_delete' task.id %}`)">Delete</button>
        <button type="button" id="cancel-button" onclick="redirectToTaskList()">Back</button>
    </div>
</div>

{% endblock body %}
    